<%- include('partials/header') %>

      <div class="container py-3 container--narrow">
        <form class="form-inline my-2 my-lg-0" action="/filters" method="get">
          <input class="form-control mr-sm-2" type="text" name="musicGenre" placeholder="Music Genre" aria-label="Search">
          <input class="form-control mr-sm-2" type="text" name="artist" placeholder="Artist" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0"  type="submit" >Search</button>
        </form>
      </div>
      <div class="list-group">
        <% for(var i=0; i<vinyls.length; i++) { %>
          <div class="vinyl"><h2><%= vinyls[i].title %></h2>
            <i class="fas fa-compact-disc vinyl-icon" style="font-size: 40px;text-align: center;position: relative;left: 46%;"></i>
          <p class="genre">Music Genre: <%= vinyls[i].musicGenre %></p>
          <p class="arist">Artist: <%= vinyls[i].artist %></p>
        </div>
          <% } %>
        
    </div>
      
<%- include('partials/footer') %>